<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <title>Distillr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script src="https://use.fontawesome.com/e1313b3ebe.js"></script>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyD6XggNes92GTol3l14mcyE173vI3MidxI" %>
</head>
<body>
  <script type="text/javascript">
    <% if current_user %>
      window.currentUser = <%= render("api/users/user.json.jbuilder",
                                      user: current_user).html_safe %>
    <% else %>
      window.currentUser = {}
    <% end %>
  </script>

<%= yield %>

</body>
</html>
